body,header,section,div,p
{
	margin:0;
	padding:0;
		
	/* #FF8A00; Colore Peez */
}

.bcScuro
{
	background-color:#141414;	
}


.fontPeez
{
    font-family: 'Comfortaa', Sans-Serif;
	color:#FF8A00;
}

.dimLogo
{
	width:80px;
	height:80px;
}

.hdrCentrato
{
	position: absolute;
	top: 20%;
	bottom: 50%;
	left: 10%;
	right: 10%;
	text-align: center;
	/* border:1px solid #FFF; */
	/* background-color:#FF8A00; */
}

label
{
	text-align:left;
	color:#FFF;
}

.login
{
	font-family: 'RobotoRegular', Arial, sans-serif;
	position: absolute;
	top: 58%;
	bottom: 28%;
	left: 10%;
	right: 10%;
	text-align: center;
	/* border:1px solid #FFF; */
}