body,header,section,div,p,img,label
{
	margin:0;
	padding:0;
		
	/* #FF8A00; Colore Peez */
}

#login_page
{
	width: 96%;
}

.login_qr
{
	margin-top: 0.1em;
	margin-left: 0.1em;
	border-radius: 4px;
}

/* HEADER */
.login_header
{
	position: absolute;
	top: 15%;
	left: 10%;
	right: 10%;
	text-align: center;
	border-color: #FFF;
	/* border:1px solid #000; */
	/* background-color: #FFF; */
	/* background-color:#FF8A00; */
}

.login_header_img
{
	position: relative;
	left: 40%;
	right: 35%;
	width: 76px;
	height: 76px;
	background-image:url(../../img/peez_mega.png);
	background-repeat:no-repeat;
	background-size:contain;
	/* border:1px solid #000; */
}

.login_header_font
{	
    font-family: 'Comfortaa', Sans-Serif;
    font-size: 1.5em;
	color:#FF8A00;
	/* border:1px solid #000; */
}
/* #HEADER */


/* CONTENT */
.login_content
{
	font-family: 'RobotoRegular', Arial, sans-serif;
	position: absolute;
	top: 41%;
	left: 10%;
	right: 10%;
	text-align: center;
	/* border:1px solid #000; */
}

.login_content label
{
	font-size: 1.5em;
	font-weight: bold;
	text-align:left;
	color:#000;
}

.login_content_enter
{
	margin-top: 0.5em;
}
/* #CONTENT */


/* FOOTER */
.login_footer
{
	width: 100%;
	position: absolute;
	bottom: 10%;
	left: 5%;
	text-align: center;
	border-color: #FFF;
	/* background-color: #FFF; */
	/* border:1px solid #000; */
}

.login_footer img
{
	margin-right: 9%;
}

.login_footer_copyright
{
	width: 100%;
	font-family: 'RobotoRegular', Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
	position: absolute;
	bottom: 0.5%;	
}
/* #FOOTER */

.login_dimLogo
{
	width:80px;
	height:80px;
}


.login_bcChiaro
{
	background-color: #FFFFFF;
	/*
	background-image: url(../img/peez_sfondo.png);
	background-repeat: no-repeat;
	*/
}

.login_bcScuro
{
	background-color:#141414;	
}